

<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
Resources:
Private:
Templates:
List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="content">
	<h1>Listing of Services</h1>

	<f:flashMessages />

	<table  class="tx_servicechargeextension" >

		<div class="container">

			<table class="table table-bordered">
				<thead>

				<tr>
					<th><f:translate key="tx_servicechargeextension_domain_model_servicechargemodel.servicetype" /></th>
					<th><f:translate key="tx_servicechargeextension_domain_model_servicechargemodel.chargesin_i_n_r" /></th>
					<th><f:translate key="tx_servicechargeextension_domain_model_servicechargemodel.mindaystodeliver" /></th>
					<th><f:translate key="tx_servicechargeextension_domain_model_servicechargemodel.rangeofareainkm" /></th>
				</tr>


				</thead>
				<tbody>

				<f:for each="{serviceChargeModels}" as="serviceChargeModel">

					<tr>
						<td><f:link.action action="show" arguments="{serviceChargeModel : serviceChargeModel}"> {serviceChargeModel.servicetype}</f:link.action></td>

						<td><span> {serviceChargeModel.chargesinINR}</span></td>
						<td><span> {serviceChargeModel.mindaystodeliver}</span></td>
						<td><span> {serviceChargeModel.rangeofareainkm}</span></td>

					</tr>
				</f:for>
				</tbody>
			</table>
		</div>
	</table>

</f:section>
</html>
