<html xmlns:f="https://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="servicetype">
	<f:translate key="tx_servicechargeextension_domain_model_servicechargemodel.servicetype" />
</label><br />
	<f:form.textfield property="servicetype" /><br />
<label for="chargesinINR">
	<f:translate key="tx_servicechargeextension_domain_model_servicechargemodel.chargesin_i_n_r" />
</label><br />
	<f:form.textfield property="chargesinINR" /><br />
<label for="mindaystodeliver">
	<f:translate key="tx_servicechargeextension_domain_model_servicechargemodel.mindaystodeliver" />
</label><br />
	<f:form.textfield property="mindaystodeliver" /><br />
<label for="rangeofareainkm">
	<f:translate key="tx_servicechargeextension_domain_model_servicechargemodel.rangeofareainkm" />
</label><br />
	<f:form.textfield property="rangeofareainkm" /><br />
</html>

